body {
  font-family: Helvetica;
}
.header {
  font-size: 130px;
  font-weight: bold;
  color: green;
  background-image: url(./images/pattern.jpg);
  text-align: center;
}
h1{
font-weight: bold;
color: white;
}
.Brushes {
  background-color: mediumspringgreen;
}
.Frames {
  background-color: darkred;
}
.Paint {
  background-color: skyblue
}
.price {
  font-weight: bold;
  color: blue;
}
